# String Class

In [1]:
#single line
str1="Chandu"
str2='Ramu'
print(str1)
print(str2)

Chandu
Ramu

In [4]:
#Multiline string
str3='''He is a boy.
He is a student.
His name is jai,'''
str4="""abc
        cde
        efg"""
print(str3[0:6])
#Negative index
print(str4)

He is
abc
        cde
        efg

In [5]:
print("hi")

hi

In [6]:
"hii"

'hii'

In [7]:
a=10
b=30

In [8]:
c=a+b

In [5]:
c

40

In [9]:
str1="Pyhton"
len(str1)

6

In [6]:
print(c)

40

# Conversion Function
### 1=> capitalize()
### 2=> lower()
### 3=> upper()
### 4=> swapcase()
### 5=> title()

In [10]:
str1="hello, welcome to my world."

In [14]:
print("hello, welcome to my world.".capitalize())

Hello, welcome to my world.

In [11]:
x=str1.capitalize()

In [12]:
print(x)

Hello, welcome to my world.

In [15]:
str2="HELLO, WELCOME TO MY WORLD."
x=str2.lower()
print(x)

hello, welcome to my world.

In [16]:
str3="Hello, welcome to my world."
x=str1.upper()
print(x)

HELLO, WELCOME TO MY WORLD.

In [17]:
str2="HlLo, Welcome to my world."
x=str2.swapcase()
print(x)

hLlO, wELCOME TO MY WORLD.

In [19]:

str2="hi how are you."
x=str2.title()
print(x)

Hi How Are You.

# Comparsion Function
### 1=> isupper()
### 2=> isdecimal()
### 3=> isalpha()
### 4=> isalnum()
### 5=> isdigit()

In [20]:
"HELLO, WELCOME TO MY WORLD.".islower()

False

In [21]:
str3="HELLO, WELCOME TO MY WORLD."
x=str3.islower()
print(x)

False

In [22]:
str3="HELLO, WELCOME TO MY WORLD."
x=str3.isupper()
print(x)

True

In [23]:
str3="HELLO, WELCOME TO MY WORLD."
x=str3.isdecimal()
print(x)

False

In [24]:
str3="43764873246832894"
x=str3.isdecimal()
print(x)

True

In [25]:
str3="5645"
x=str3.isdecimal()
print(x)

True

In [26]:
str3="HELLOWELCOME"
x=str3.isalpha()
print(x)

True

In [33]:
str3="HELLOWELCOME89472"
x=str3.isalnum()
print(x)

True

In [34]:
str3='94722²³'
x=str3.isdigit()
print(x)

True

In [35]:
str3="3\u00B2"
x=str3.isdigit()
print(str3)
print(x)

3²
True

In [36]:
str3="36\u00B2"
str4="\u20B9"
x=str3.isdigit()
y=str4.isdigit()
print(str3)
print(str4)
print(x)
print(y)

36²
₹
True
False

In [37]:
print("\u03B1")  # α (Greek letter alpha)
print("\u20B9")  # ₹ (Indian Rupee symbol)
print("\u00B2")  # ² (Superscript 2)

α
₹
²

# Padding function
### 1=> rjust()
### 2=> ljust()
### 3=> center()
### 4=> zfill()

In [45]:
var="Pyhton1"
print(var)
print(var.rjust(10))
print(var.ljust(10))
print(var.center(10))
print(var.zfill(10))

Pyhton1
   Pyhton1
Pyhton1
 Pyhton1
000Pyhton1

In [46]:
var="Pyhton"
print(var)
print(var.rjust(10,'-'))
print(var.ljust(10,"@"))
print(var.center(11,"$"))
print(var.zfill(10))

Pyhton
----Pyhton
Pyhton@@@@
$$$Pyhton$$
0000Pyhton

# Search Function
### 1=> find(pattern,start,end) ==>If not found return -1
### 2=> rfind(pattern,start,end){Search from rigth}
### 3=> index(pattern,start,end)==>If not found then we get error.
### 4=> count(pattern,start,end)
### 5=> startwith(pattern,start,end)
### 6=> endwith(pattern,start,end)

In [1]:
txt="hello, welcome to my world."
print(txt[26])
print(len(txt))

.
27

In [2]:
"hello, welcome to my world.".find("l")

2

In [3]:
txt="hello, welcome to my world."
x=txt.find("l")
print(x)

2

In [3]:
print("hello, welcome to my world.".find("my",5,10))
print("hello, welcome to my world.".find("my",1,20))

-1
18

In [5]:
txt="hello, welcome to my world."
y=txt.rfind("e")
print(y)
x=txt.rfind("e",0,9)
print(x)

13
8

In [6]:
txt="hello, welcome to my world."
x=txt.rfind("e",5,10)
print(x)
y=txt.rfind("e")
print(y)
z=txt.find("wel",5,10)
print(z)

8
13
7

In [7]:
txt="hello, welcome to my world."
x=txt.index("e",5,10)
print(x)
y=txt.index("e")
print(y)
z=txt.index("p")
print(z)

8
1

ValueError: substring not found

In [8]:
txt="hello, welcome to my world."
x=txt.rindex("e",5,10)
print(x)
y=txt.rindex("e")
print(y)

8
13

In [9]:
L=[1,9,2,3,4,5,9]
print(L.count(9))

2

In [10]:
txt="hello, welcome to my world."
print(txt.count('o',10,26))

3

In [26]:
txt="hello, welcome to my world."
print(txt.startswith('h',0,28))

True

In [27]:
txt="hello, welcome to my world."
print(txt.endswith('world',0,28))
txt="hello, welcome to my world."
print(txt.endswith('ld.',0,28))

False
True

# String Substitution Function
### 1=> replace(old_value,new_value,count)
### 2=> translate(table)
### 3=> split(pattern,count)
### 4=> splitlines()
### 5=> join()

In [39]:
txt = "one one was a race horse, two two was one too."
print(txt)
x = txt.replace("one", "three")
print(x)
y = txt.replace("one", "three",2)
print(y)

one one was a race horse, two two was one too.
three three was a race horse, two two was three too.
three three was a race horse, two two was one too.

In [19]:
txt = "one one was a race horse, two two was one too."
print(txt.replace("one", "three", 2))

three three was a race horse, two two was one too.

In [30]:
print("one one was a race horse, two two was one too.".replace("one", "three", 2))

three three was a race horse, two two was one too.

In [31]:
str7="Hello, World"
print(str7)
table={ord("o"):"L",ord(","):None}
print(str7.translate(table))

Hello, World
HellL WLrld

In [7]:
str66="apple banana cherry orange"
print(str66.split())

['apple', 'banana', 'cherry', 'orange']

In [2]:
txt = "apple,ban##anacherry##or##ange"
x = txt.split("##")
print(x)

['apple,ban', 'anacherry', 'or', 'ange']

In [3]:
txt = "apple#banana#cherry#orange"
x = txt.split("banana", 2)
print(x)

['apple#', '#cherry#orange']

In [4]:
txt = "Thank you for the music\nWelcome to \nthe jungle"
x = txt.splitlines()
print(x)

['Thank you for the music', 'Welcome to ', 'the jungle']

In [5]:
myTuple = ["John", "Peter", "Vicky"]
x = "#".join(myTuple)
print(x)

John#Peter#Vicky

In [9]:
txt = "apple#banana#cherry#orange"
x = txt.split('#')
print(x)

['apple', 'banana', 'cherry', 'orange']

In [12]:
list1=['apple', 'banana', 'cherry', 'orange']
lst = "#".join(list1)
print(lst)

apple#banana#cherry#orange

# Misc Function
### 1=> strip(string)==>remove the white spaces
### 2=> len(string)==>return lenght of string

In [15]:
txt = "     banana     "
print(len(txt))
print(txt)
print(txt[5])
x = txt.strip()
print(len(x))
print(x)

16
     banana
b
6
banana

In [18]:
txt = "     banana     "
print(len(txt))
print(txt[5])

16
b

In [19]:
x = txt.lstrip()
print(len(x))
print(x)
y = txt.rstrip()
print(len(y))
print(y)
z = txt.lstrip()
print(z)

11
banana
11
     banana
banana

# Space Character

In [22]:
print("Hello how \nare \nyou")

Hello how
are
you

In [23]:
print("Hello\thow are you")

Hello	how are you

In [24]:
print("Hello\\how are you")

Hello\how are you

In [32]:
print("Hello \"how are you")

Hello "how are you

In [30]:
print("Hello\'how are you")

Hello'how are you

# String formatting

1=mod   
2=str.format()   
3=f-foramt

In [34]:
name="sudir"
age=90
print("My name is %s and age is %d"%(name,age))

My name is sudir and age is 90

In [35]:
name="sudir"
age=90
print("My name is {} and age is {}".format(name,age))
print("My name is {} and age is {}".format(age,name))

My name is sudir and age is 90
My name is 90 and age is sudir

In [36]:
name="sudir"
age=90
print(f"My name is {name} and age is {age}")
print(f"My name is {age} and age is {name}")

My name is sudir and age is 90
My name is 90 and age is sudir

# List

In [5]:
List=[]
print(List)

[]

In [6]:
List=["Anand",20,50.600]
print(List)

['Anand', 20, 50.6]

In [7]:
print(List[0])

Anand

In [8]:
print(List[1])

20

In [9]:
print(List[1:3])

[20, 50.6]

In [10]:
print(List)

['Anand', 20, 50.6]

In [12]:
List[0]="Rakesh"
print(List)

['Rakesh', 20, 50.6]

In [13]:
List[1]=18
print(List)

['Rakesh', 18, 50.6]

In [15]:
List[1]="Rakesh"

In [16]:
print(List)

['Rakesh', 'Rakesh', 50.6]

In [17]:
print(len(List))

3

In [4]:
t=("2",3,45.7)
print(t)

('2', 3, 45.7)

In [5]:
t=(2,3,45)
print(list(t))

[2, 3, 45]

In [6]:
set2={1,2,3}
print(list(set2))

[1, 2, 3]

In [29]:
list1=[10,20,30,40]
print(list1)

[10, 20, 30, 40]

In [8]:
temp=list1[1]
print(temp)

20

In [9]:
print(list1[1])

20

In [10]:
list1[2]=60

In [11]:
print(list1)

[10, 20, 60, 40]

In [12]:
list1.append(50)
print(list1)

[10, 20, 60, 40, 50]

In [34]:
for i in list1:
    print(i)

10
20
60
40
50

In [16]:
print(list1[0:3])

[10, 20, 60]

In [35]:
print(list1)

[10, 20, 60, 40, 50]

In [36]:
print(list1[-5:])

[10, 20, 60, 40, 50]

In [53]:
for i in range(0,10,3):
    print(i)

0
3
6
9

In [51]:
print(list(range(0,11)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(list(range(0,11,2)))

In [13]:
a=22

In [17]:
print(type(a))

<class 'int'>

In [15]:
a.bit_length()

5